/* write your override styles here */
#wall .tag-1+#tag-2 {
  display: none;
  background: none;
}
#tag-2 {
  display: none;
}
#tag-3.slick.wicked{
    display: none;
}
#tag-4 .parent {
  display: none;
}
#tag-5.slick .parent {
  display: none;
}
#tag-6 {
  display: none;
}